<h1>Movie Search</h1>

<div class="center">
	<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag "Search", :id => "submit_button" %>
	<% end %>
</div>

<% @movies.each do |movie| %>
	<div class="separated">
		<a href="/movie?q=<%= movie['imdbID'] %>"><%= movie['Title'] %></a>
	</div>
<% end %>
